<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	 
	    
	<!-- a tag anotation-driven define o uso de anotações -->
	<mvc:annotation-driven />

	<!--a context:component-scan define qual o pacote estará nossas classes -->
	<context:annotation-config />
	<context:component-scan base-package="com.rafael.tarefas,com.rafael.teste,com.rafael.Academia" />

	<mvc:default-servlet-handler />
	<!-- essa notação mapeia a classe que verifica o usuario na sessão -->
	<!--<mvc:interceptors> <bean class="com.caelum.tarefas.intercepta.AutorizadorInterceptor"></bean> 
		</mvc:interceptors> -->

	<!-- anotação para resolver onde estão as páginas e que faz funcionar o 
		mvc -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- gerenciamento de jpa pelo spring -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!--<property name="dataSource">
			<bean id="mysqldataSource" class="org.apache.commons.dbcp.BasicDataSource">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost/fj21" />
				<property name="username" value="root" />
				<property name="password" value="fearofdark" />
			</bean>
		</property>-->
		<property name="persistenceUnitName" value="tarefas" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			</bean>
		</property>
	</bean>

	<!-- gerenciamento da transação pelo spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>